.approv {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	bottom: 0;
	height: 100%;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	left: 0px;
	overflow: auto;
	position: fixed;
	right: 100%;

	top: 0;
	// width: 100%;
	z-index: 999900;
	display: flex;
	opacity: 0;
	transition: 0.3s;
	background-color: rgba(0, 0, 0, 0.5);

	&.active {
		right: 0;
		opacity: 1;
	}
}

.cookie {
	height: 100%;
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.cookie .cookies {
	background-color: #fffef6;
	border-radius: 20px;
	box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.10196078431372549);
	position: relative;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 30px;
}

@media (max-width: 480px) {
	.cookie .cookies {
		padding: 20px;
	}
}

.cookie .cookies-title {
	border-bottom: 1px solidvar(--brown-cookies);
	color: var(--brown-cookies);
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	padding-bottom: 20px;
}

.cookie .cookies-container {
	background-color: #fffef6;
	height: 100%;
	max-width: 440px;
	min-width: 260px;
	width: 100%;
	overflow-y: auto;
	@media (max-width: 768px) {
		max-width: 340px;
	}
	@media (max-width: 480px) {
		max-width: 280px;
	}
}

.cookie .cookies-left {
	display: block;
	.button {
		margin-top: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			color: #757272;
			padding-bottom: 5px;

			&:hover {
				text-decoration: underline 2px;
			}
		}
	}
}

.cookie .cookies-content {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 20px;
	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.cookie .cookies-text {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	color: #606060;
	font-size: 13px;
	padding-left: 20px;
}

.cookie .cookies-text b,
.cookie .cookies-text p {
	color: var(--brown-cookies);
	@media (max-width: 480px) {
		margin-bottom: 10px;
	}
}

.cookie .cookies-text a {
	color: var(--brown-cookies);
	text-decoration: underline;
}

@media (max-width: 480px) {
	.cookie .cookies-text {
		font-size: 16px;
		font-weight: 500;
		line-height: 19.36px;
	}
}

.cookie .cookies-img {
	background-image: url("../assets/cookie.de110760.svg") !important;
	background-position: 100%;
	background-repeat: no-repeat;
	background-size: auto;
	height: 124px;
	right: 0;
	top: 0;
	width: 124px;
	margin: 0 auto;
}

.cookie .cookies-buttons,
.cookie .cookies-img {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.cookie .cookies-buttons {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: end;
	-ms-flex-pack: end;
	justify-content: end;
}

.cookie .cookies-buttons .cookies_agreement {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 30px;
}

.content-cookie a {
	color: var(--brown-cookies);
	text-decoration: underline;
}

.cookie-info {
	color: rgb(238, 238, 238);
	position: relative;
	z-index: 2;

	&__title {
		padding-bottom: 20px;
		border-bottom: 2px solid rgba(238, 238, 238, 0.515);
		margin: 40px 0;
		text-align: center;
		font-size: 30px;
		line-height: 40px;
	}

	.list-browsers {
		display: flex;
		gap: 20px;
		.browser {
			width: 40px;
			height: 40px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
			transition: 0.3s;

			&.edge {
				background-image: url("../assets/cookies/edge.svg");
			}
			&.chrome {
				background-image: url("../assets/cookies/chrome.svg");
			}
			&.firefox {
				background-image: url("../assets/cookies/firefox.svg");
			}
			&.explorer {
				background-image: url("../assets/cookies/ie.svg");
			}
			&.opera {
				background-image: url("../assets/cookies/opera.svg");
			}
			&.safari {
				background-image: url("../assets/cookies/safari.svg");
			}
			&:hover {
				transform: scale(1.2);
			}
			a {
				display: inline-block;
				width: 100%;
				height: 100%;
			}
		}
		@media (max-width: 375px) {
			gap: initial;
			justify-content: space-between;
		}
	}

	a {
		color: rgb(238, 238, 238) !important;
	}
	.setting__description {
		margin: 30px 0 20px;
		em {
			color: #4e4538;
			// font-size: 18px;
			font-weight: bold;
		}
	}
	.setting__button {
		display: flex;
		align-items: center;
		gap: 30px;

		.input__wrapper {
			gap: 8px;
			display: flex;
			align-items: center;
			font-size: 20px;

			label {
				cursor: default;
			}

			&.active-input {
				cursor: pointer;

				input {
					cursor: pointer;
				}
				label {
					cursor: pointer;
				}
			}
		}
	}
	.btn-success {
		margin-top: 30px;
		display: flex;
		padding: 9px 25px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		border-radius: 7px;
		background: var(--brand-purple);
		color: var(--white);
		white-space: nowrap;
		text-transform: uppercase;
		transform: scale(1);
		transition: background-color 0.3s, color 0.3s, transform 0.3s;

		&:hover {
			background-color: #0086bb;
		}
		&.disabled {
			background-color: #0086bb3c;
			cursor: progress;
		}
	}
}
