.faq {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding-top: calc(50px + 7%);

	&.container {
		@media (max-width: 768px) {
			padding: 0;
		}
	}

	.faq-title {
		width: 70%;
		display: flex;
		justify-content: center;
		transform: translateY(200px);
		opacity: 0;
		transition: transform 0.6s, opacity 0.6s;
		margin-bottom: 14px;

		@media (max-width: 480px) {
			width: 70%;
		}
	}
	.accordion-container-wrapper {
		position: relative;
		z-index: 4;
		margin-top: 6%;
		background: rgba(255, 255, 255, 0.08);
		backdrop-filter: blur(40px);
		border-radius: 24px;
		padding: 20px;
		transform: rotateY(-90deg);
		opacity: 0;
		transition: transform 1.2s, opacity 0.6s;
		margin-bottom: 10%;

		.accordion-container {
			border-radius: 16px;
			background: var(--white);
			padding: 15px;
			position: relative;
			z-index: 2;

			.ac {
				padding: 12px 12px 12px 16px;
				flex-direction: column;
				align-items: flex-start;
				gap: 24px;
				align-self: stretch;
				border-radius: 8px;
				transition: 0.25s;
				transform: scale(1);
				box-shadow: none;

				&.is-active {
					display: flex;
					background: var(--brand-purple);
					transform: scale(1) !important;
					box-shadow: none !important;
					// opacity: 1 !important;

					.ac-header {
						.ac-trigger {
							color: var(--white);

							.ac-plus {
								transform: rotate(225deg);
								span {
									background-color: var(--white);
								}
							}
						}
					}
				}
				.ac-header {
					width: 100%;
					.ac-trigger {
						padding: 0;
						display: flex;
						justify-content: space-between;
						align-items: center;
						color: #1a1f2a;
						font-size: 18px;
						font-style: normal;
						font-weight: 400;
						line-height: 133.33%; /* 133.333% */
						letter-spacing: 0.72px;
						text-transform: uppercase;
						&::after {
							display: none;
						}
						.ac-plus {
							min-width: 24px;
							height: 24px;
							position: relative;
							transition: 0.3s;
							span {
								position: absolute;
								width: 100%;
								height: 0.15rem;
								top: calc(50% - 1px);
								background-color: var(--brand-purple);
								transition: 0.3s;
								&:nth-last-child(1) {
									transform: rotate(90deg);
								}
							}
						}
					}
				}
				.ac-panel {
					.ac-text {
						padding: 0;
						font-family: Roboto, sans-serif;
						color: var(--white);
						font-size: 14px;
						font-style: normal;
						font-weight: lighter;
						line-height: 120%;
						letter-spacing: 0.28px;
						opacity: 0.8;
					}
				}
				&:nth-last-child(1) {
					margin-bottom: 8px;
				}
				&:hover {
					box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.12157);
					transform: scale(1.02);
				}
			}
		}
	}
	@media (max-width: 768px) {
		margin-top: 90px;
	}
	.wrapper__snik-orb {
		bottom: 0;
		left: -17%;
	}

	.wrapper__snik {
		bottom: -30%;
		left: 10%;
		@media (max-width: 768px) {
			bottom: -190px;
		}
		@media (max-width: 480px) {
			bottom: -120px;
		}
	}
	&.element-show {
		.faq-title {
			transform: translateY(0px);
			opacity: 1;
		}
		.accordion-container-wrapper {
			transform: rotateY(0deg);
			opacity: 1;
		}
	}
}
