.footer {
  margin-top: 22%;
  background: rgba(69, 26, 11, 0.94);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  position: relative;
  z-index: 7;
  font-family: Roboto Condensed, sans-serif;
}
.footer .footer__container {
  display: flex;
  padding: 32px 40px;
  flex-direction: column;
  gap: 32px;
}
.footer .footer__container .footer__contact {
  display: flex;
  gap: 64px;
}
.footer .footer__container .footer__contact .contact__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.footer .footer__container .footer__contact .contact__col .col__content {
  display: flex;
  flex-direction: column;
}
.footer .footer__container .footer__contact .contact__col .col__links {
  display: flex;
  gap: 8px;
}
@media (max-width: 768px) {
  .footer .footer__container .footer__contact .contact__col .col__links {
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .footer .footer__container .footer__contact .contact__col .col__links {
    justify-content: space-between;
    gap: 5px;
  }
}
.footer .footer__container .footer__contact .contact__col .col__links .links__link-wrapper {
  display: flex;
  cursor: pointer;
  color: var(--white);
  transform: scale(1);
  transition: 0.3s;
}
.footer .footer__container .footer__contact .contact__col .col__links .links__link-wrapper.vk:hover {
  color: rgb(127, 187, 255);
}
.footer .footer__container .footer__contact .contact__col .col__links .links__link-wrapper.facebook:hover {
  color: #4267b2;
}
.footer .footer__container .footer__contact .contact__col .col__links .links__link-wrapper.instagram:hover {
  color: #fa1a77;
}
.footer .footer__container .footer__contact .contact__col .col__links .links__link-wrapper.odnoklassniki:hover {
  color: rgb(249, 116, 0);
}
.footer .footer__container .footer__contact .contact__col .col__links .links__link-wrapper.tiktok:hover {
  color: rgb(0, 242, 234);
}
.footer .footer__container .footer__contact .contact__col .col__links .links__link-wrapper.youtube:hover {
  color: #ff0000;
}
.footer .footer__container .footer__contact .contact__col .col__links .links__link-wrapper.telegram:hover {
  color: #0088cc;
}
.footer .footer__container .footer__contact .contact__col .col__links .links__link-wrapper:hover {
  transform: scale(1.15);
}
.footer .footer__container .footer__contact .contact__col.second-col {
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer .footer__container .footer__contact {
    flex-direction: column;
    gap: 24px;
  }
}
.footer .footer__container .footer__footnote {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer .footer__container .footer__footnote .footnote__info {
  display: flex;
  gap: 32px;
}
.footer .footer__container .footer__footnote .footnote__info .info__rules {
  max-width: 719px;
}
.footer .footer__container .footer__footnote .footnote__info .info__politic {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1700px) {
  .footer .footer__container .footer__footnote .footnote__info {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer .footer__container {
    padding: 32px 15px;
  }
}
.footer .title {
  color: #eb3125;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.footer .info {
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  cursor: default;
}
.footer .info.link {
  cursor: pointer;
  transition: 0.2s;
}
.footer .info.link:hover {
  color: #ff1100;
}
.footer .paragraph {
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.4;
}
.footer .footer__img {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 1280px) {
  .footer .footer__img {
    right: -150px;
  }
}
@media (max-width: 1024px) {
  .footer .footer__img {
    display: none;
  }
}
@media (max-width: 1024px) {
  .footer {
    margin-top: 200px;
  }
}
@media (max-width: 480px) {
  .footer {
    margin-top: 120px;
  }
}
.footer.margin-top {
  margin-top: 80px;
}/*# sourceMappingURL=footer.css.map */