* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}

img {
  width: 100%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
}

.main {
  flex: 1 1 auto;
  margin-bottom: 64px;
}
.main .main__container .slider {
  position: relative;
  margin-bottom: 40px;
}
.main .main__container .slider .slide {
  width: 100%;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
}
.main .main__container .slider .slide .mobile {
  display: none;
}
@media (max-width: 530px) {
  .main .main__container .slider .slide .mobile {
    display: block;
  }
}
.main .main__container .slider .slide .desktop {
  display: block;
}
@media (max-width: 530px) {
  .main .main__container .slider .slide .desktop {
    display: none;
  }
}
.main .main__container .slider .slider__panel {
  position: absolute;
  right: 12px;
  bottom: 12px;
  left: 12px;
  display: flex;
  justify-content: space-between;
}
.main .main__container .slider .slider__panel .slider__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: #84bf41;
  color: #fff;
  border-radius: 12px;
  padding: 10px 24px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s ease-in-out;
}
.main .main__container .slider .slider__panel .slider__button:hover {
  background-color: #6b963b;
}
@media (max-width: 768px) {
  .main .main__container .slider .slider__panel .slider__button {
    border-radius: 6px;
    font-size: 14px;
  }
}
.main .main__container .slider .slider__panel .slider__info {
  display: flex;
  align-items: center;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  border-radius: 12px;
  padding: 6px 14px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  .main .main__container .slider .slider__panel .slider__info {
    border-radius: 6px;
    font-size: 14px;
  }
}
.main .main__container .slider .slider__panel .slider__info .info__status {
  padding-right: 10px;
  margin-right: 10px;
  border-right: #fff 1px solid;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.main .main__container .slider .slider__panel .slider__info .info__status .status__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
}
.main .main__container .slider .slider__panel .slider__info .info__date {
  font-size: 14px;
  pointer-events: none;
  display: flex;
  gap: 4px;
}
.main .main__container .slider .slider__panel .slider__info .info__date .desktop {
  display: block;
}
@media (max-width: 400px) {
  .main .main__container .slider .slider__panel .slider__info .info__date .desktop {
    display: none;
  }
}
.main .main__container .slider .slider__panel .slider__info .info__date .mobile {
  display: none;
}
@media (max-width: 400px) {
  .main .main__container .slider .slider__panel .slider__info .info__date .mobile {
    display: block;
  }
}
@media (max-width: 530px) {
  .main .main__container .slider .slider__panel .slider__info {
    justify-content: space-between;
  }
  .main .main__container .slider .slider__panel .slider__info .info__status {
    border-right: none;
  }
}
@media (max-width: 530px) {
  .main .main__container .slider .slider__panel {
    flex-direction: column;
    gap: 8px;
  }
}
.main .main__container .dashboard .dashboard__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
  font-size: 24px;
  line-height: 133%;
  color: #000;
}
.main .main__container .dashboard .dashboard__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.main .main__container .dashboard .dashboard__items .item {
  border: 1px solid rgba(219, 226, 227, 0.25);
  border-radius: 12px;
  padding: 16px;
  width: calc(25% - 15px);
  display: flex;
  flex-direction: column;
}
.main .main__container .dashboard .dashboard__items .item .item__picture {
  margin-bottom: 16px;
}
.main .main__container .dashboard .dashboard__items .item .item__date {
  margin-bottom: 16px;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  background: #373c46;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  gap: 4px;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #fff;
  font-family: "Gilroy", sans-serif;
}
.main .main__container .dashboard .dashboard__items .item .item__date span {
  white-space: nowrap;
}
.main .main__container .dashboard .dashboard__items .item .item__date .data {
  font-weight: 700;
}
.main .main__container .dashboard .dashboard__items .item .item__date .data.mobile {
  display: none;
}
@media (max-width: 576px) {
  .main .main__container .dashboard .dashboard__items .item .item__date .data.mobile {
    display: block;
  }
}
.main .main__container .dashboard .dashboard__items .item .item__date .data.desktop {
  display: block;
}
@media (max-width: 576px) {
  .main .main__container .dashboard .dashboard__items .item .item__date .data.desktop {
    display: none;
  }
}
@media (max-width: 768px) {
  .main .main__container .dashboard .dashboard__items .item .item__date {
    width: 100%;
  }
}
.main .main__container .dashboard .dashboard__items .item .item__description {
  font-weight: 700;
  font-size: 21px;
  line-height: 124%;
  color: #1a1a1a;
  font-family: "Gilroy", sans-serif;
}
@media (max-width: 1024px) {
  .main .main__container .dashboard .dashboard__items .item {
    width: calc(33.33% - 13.33px);
  }
}
@media (max-width: 768px) {
  .main .main__container .dashboard .dashboard__items .item {
    width: calc(50% - 10px);
  }
}
@media (max-width: 476px) {
  .main .main__container .dashboard .dashboard__items .item {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */